<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>

  <div class="page-header">
        <div class="logo-title-group">
          <img src="/stylesheets/image/logo1.jpg" alt="logo (Math Vocabulary Builder)">
          <h1>Math Vocabulary Builder</h1>
        </div>
        <div class="auth-buttons-container">
          <%- include('../partials/_navbar.ejs') %>
        </div>
  </div>
  <h1>Edit Math Term</h1>
    
  <form action="/terms/<%= terms._id %>?_method=PUT" method="POST">
  <% const icons = {
    'Algebra': 'âž—',
    'Geometry': 'ðŸ“',
    'Calculus': 'âˆ«',
    'Statistics': 'ðŸ“Š',
    'Probability': 'ðŸŽ²',
    'Trigonometry': 'ðŸ“',
    'Number Theory': 'ðŸ”¢',
    'Discrete Math': 'ðŸ§©'
  }; %>

  <label for="name">Name: </label>
  <input type="text" name="name" id="name"  value ="<%= terms.name %>" required />

  <label for="definition">definition:</label>
  <input type="text" name="definition" id="definition" value ="<%= terms.definition %>" required  />

  <label for="example">example:</label>
  <input type="text" name="example" id="example" value ="<%= terms.example %>" required />

 <label for="category">Category:</label>
        <select name="category" id="category" required>

<% categories.forEach(cat => { %>
  <option value="<%= cat %>"
    <%= terms.category === cat ? 'selected' : '' %>>
    <%= cat %> <%= icons[cat] %> 
  </option>
<% }) %>
</select>
  <button type="submit">Save Changeing</button>
</form>
</body>
</html>