<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Math Term</title>
<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit Math Term</h1>
    
  <form action="/terms/<%= terms._id %>?_method=PUT" method="POST">
  <% const icons = {
    'Algebra': 'âž—',
    'Geometry': 'ðŸ“',
    'Calculus': 'âˆ«',
    'Statistics': 'ðŸ“Š',
    'Probability': 'ðŸŽ²',
    'Trigonometry': 'ðŸ“',
    'Number Theory': 'ðŸ”¢',
    'Linear Algebra': 'ðŸ§®',
    'Discrete Math': 'ðŸ§©'
  }; %>

  <label for="name">Name: </label>
  <input type="text" name="name" id="name"  value ="<%= terms.name %>" required />

  <label for="definition">definition:</label>
  <input type="text" name="definition" id="definition" value ="<%= terms.definition %>" required  />

  <label for="example">example:</label>
  <input type="text" name="example" id="example" value ="<%= terms.example %>" required />

 <label for="category">Category:</label>
        <select name="category" id="category" required>

<% categories.forEach(cat => { %>
  <option value="<%= cat %>"
    <%= terms.category === cat ? 'selected' : '' %>>
    <%= cat %> <%= icons[cat] %> 
  </option>
<% }) %>
</select>
<div class="buttons-row">
  <button type="submit" class="butt">Save Changeing</button>
  <a href="/terms"  class="aLink1">ðŸ”™</a>
  </div>
</form>
</body>
</html>