<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit Math Term </h1>
    <form action="/terms/<%= terms._id %>?_method=PUT" method="POST">

  <label for="name">Name: </label>
  <input type="text" name="name" id="name"  value ="<%= terms.name %>" required />

  <label for="definition">definition:</label>
  <input type="text" name="definition" id="definition" value ="<%= terms.definition %>" required  />

  <label for="example">example:</label>
  <input type="text" name="example" id="example" value ="<%= terms.example %>" required />

 <label for="category">Category:</label>
        <select name="category" id="category" required>
            <option value="Algebra" <%= terms.category === "Algebra" ? "selected" : "" %>>Algebra</option>
            <option value="Geometry" <%= terms.category === "Geometry" ? "selected" : "" %>>Geometry</option>
            <option value="Calculus" <%= terms.category === "Calculus" ? "selected" : "" %>>Calculus</option>
            <option value="Statistics" <%= terms.category === "Statistics" ? "selected" : "" %>>Statistics</option>
            <option value="Other" <%= terms.category === "Other" ? "selected" : "" %>>Other</option>
        </select> 
</select>
  <button type="submit">Save Changeing</button>
</form>
</body>
</html>